<!DOCTYPE html>
<html>
   <head>
      <title>Hello world</title>
   </head>

   <script src = "/socket.io/socket.io.js"></script>
   <script async defer
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBN1VoKDBtn5fiqP4eyA5CvD6kGvqMzeSc&callback=initMap">
   </script>
   <script>
     var geocoder = new google.maps.Geocoder();
     var userAddress;
     function geocodeAddress(geocoder, resultsMap) {
       var address = document.getElementById('address').value;
       geocoder.geocode({'address': address}, function(results, status) {
         if (status === 'OK') {
           userAddresss = results[0].geometry.location;
         } else {
           alert('Geocode was not successful for the following reason: ' + status);
         }
       });
     }
   </script>
   <script>
      var socket = io();
      function setUsername() {
        var userData = {name:document.getElementById('name').value, address:document.getElementById('address').value};
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({'address': userData.address}, function(results, status) {
          if (status === 'OK') {
            userData.address = results[0].geometry.location;
            socket.emit('setUsername', userData);
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });

      };

      function calculateMidpoint(coordinates) {

          var i;
          var latSum =0;
          var longSum =0;

          for (i = 0; i < coordinates.length; i++) {
            latSum += parseFloat(coordinates[i].address.lat);
            longSum += parseFloat(coordinates[i].address.lng);
          }

          var midLat = latSum / coordinates.length;
          var midLong = longSum / coordinates.length;
          var midpoint = {
              address: {
                  lat: midLat,
                  long: midLong
              }
          };
          return midpoint;
      };

      var user;
      socket.on('userExists', function(data) {
         document.getElementById('error-container').innerHTML = data;
      });
      socket.on('userSet', function(data) {
        user = data.username;
        mid=calculateMidpoint(data.users);
        socket.emit('midpoint',{midpoint:mid});
        document.body.innerHTML = '<input type = "text" id = "message">\
        <button type = "button" name = "button" onclick = "sendMessage()">Send</button>\
        <div id = "message-container"></div>';
      });
      function sendMessage() {
         var msg = document.getElementById('message').value;
         if(msg) {
            socket.emit('msg', {message: msg, user: user});
         }
      }
      socket.on('midpointoutput', function(data) {
         if(user) {
            document.getElementById('message-container').innerHTML += '<div><b>' +"User entered, new midpoint: " +
               data.midpoint.address.lat + '</b>: ' + data.midpoint.address.long + '</div>'
         }
      })
      socket.on('newmsg', function(data) {
         if(user) {
            document.getElementById('message-container').innerHTML += '<div><b>' +
               data.user + '</b>: ' + data.message + '</div>'
         }
      })
   </script>

   <body>
      <div id = "error-container"></div>
      <input id = "name" type = "text" name = "name" value = ""
         placeholder = "Enter your name!">

      <input id = "address" type = "text" name = "address" value = ""
      placeholder = "Enter your address!">

      <button type = "button" name = "button" onclick = "setUsername()">
         Enter the room
      </button>

   </body>
</html>
